numpy>1.16
scipy
astropy>=4.1
scikit-image
emcee
h5py
pysiaf
pkginfo
shapely
tqdm
psutil
matplotlib
fitsimage @ git+https://github.com/russell-ryan/fitsimage
colorlog @ git+https://github.com/russell-ryan/colorlog
polyclip @ git+https://github.com/russell-ryan/polyclip
